/* show loading div while cloak */
#app[v-cloak] > .loading  { display:block; }
#app[v-cloak] > *  { display:none; }
.loading  { display:none; }


td.tomcat-version {
  white-space: nowrap;
  text-align: center;
  font-size: 1.5em;
  padding-right: 27px;
  padding-left: 10px;
}
.selected-tcid {
  background-color: #fcf8e3;
}

.about-content {
  min-height: 200px;
  padding-left: 2em;
  padding-right: 2em;
  padding-top: 1em;
}
.about-content h2 {
  padding-bottom: 0.4em;
}

.webapp-filter {
  padding: 4px;
  border-radius: 2px;
  border-width: 1px;
  border-style: solid;
  border-color: #ccc;
}
.collapse-tomcat .webapps-container {
  display:none;
}
.collapse-webapp-info .info-webapp {
  display:none;
}
table.info-servlet {
  color: #adadad;
  font-size: 0.9em;
}
table.info-webapp {
  color: #848484;
  margin-top: 1em;
}
table.info-webapp select {
  border: 0px;
  border-bottom-width: 1px;
  border-bottom-color: beige;
  border-bottom-style: solid;
}

.webapp-container {
  border-left: 14px solid #eee;
  padding-left: 0.7em;
  border-bottom: 1px solid #eee;
  padding-bottom: 1em;
  margin-bottom: 1em;
}

.field-label-right {
  text-align: right;
  white-space: nowrap;
}

table.header-tomcat {
  border-bottom : 5px solid #efebeb;
}
td.header-tomcat-text {
  font-size : 1.8em;
  padding-right: 0.4em;
}

table.header-webapp {
  /*border-bottom : 2px solid #eeeeee; */
}
td.header-webapp-text {
  font-size : 1.4em;
  padding-right: 0.4em;
}


.inline-input {
  width:100%;
  min-height: 1.2em;
  cursor: pointer;
}

.inline-textarea {
  width:100%;
  border: 1px solid #eee;
  border-radius: 4px;
  padding:1em;
}
.inline-textarea .html-value {
 margin-left: 2em;
 border-left-color: aliceblue;
 border-left-width: 30px;
 border-left-style: solid;
 padding-left: 2em;
}
.inline-textarea:hover .glyphicon-pencil,
.inline-input:hover .glyphicon-pencil {
  display:inline;
  cursor: pointer;
}

.inline-textarea.inline-editing .glyphicon-pencil,
.inline-input.inline-editing .glyphicon-pencil,
.inline-textarea .glyphicon-pencil,
.inline-input .glyphicon-pencil {
  display:none;
}

.inline-textarea textarea {
  width : 100%;
  padding : 4px;
  overflow:hidden;
}
.inline-input input {
  width : 90%;
}


.primary-toolbar {
  margin-bottom:1em;
}

.secondary-toolbar {
  margin-bottom:1em;
  margin-top:1em;
}


.router-link-active {

}
.glyphicon-refresh-animate {
    -animation: spin .7s infinite linear;
    -ms-animation: spin .7s infinite linear;
    -webkit-animation: spinw .7s infinite linear;
    -moz-animation: spinm .7s infinite linear;
}
@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}
@-webkit-keyframes spinw {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}
@-moz-keyframes spinm {
    from { -moz-transform: rotate(0deg);}
    to { -moz-transform: rotate(360deg);}
}

h3.tomcat-id small {
  display: block;
  font-size: 0.5em;
}

.progress-percent {
  font-size: 0.8em;
}

.progress-bar-thin {
  height: 2px;
  margin-bottom: 5px;
}
