/* show loading div while cloak */
#app[v-cloak] > .loading  { display:block; }
#app[v-cloak] > *  { display:none; }
.loading  { display:none; }


.router-link-active {

}
.glyphicon-refresh-animate {
    -animation: spin .7s infinite linear;
    -ms-animation: spin .7s infinite linear;
    -webkit-animation: spinw .7s infinite linear;
    -moz-animation: spinm .7s infinite linear;
}
@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}
@-webkit-keyframes spinw {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}
@-moz-keyframes spinm {
    from { -moz-transform: rotate(0deg);}
    to { -moz-transform: rotate(360deg);}
}

h3.tomcat-id small {
  display: block;
  font-size: 0.5em;
}

.progress-percent {
  font-size: 0.8em;
}

.progress-bar-thin {
  height: 2px;
  margin-bottom: 5px;
}
