/*
    Original version: http://www.bootply.com/128062
    This version adds support for IE 10+ and Firefox.
*/
.glyphicon-refresh-animate {
    -animation: spin .7s infinite linear;
    -ms-animation: spin .7s infinite linear;
    -webkit-animation: spinw .7s infinite linear;
    -moz-animation: spinm .7s infinite linear;
}
@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}
@-webkit-keyframes spinw {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}
@-moz-keyframes spinm {
    from { -moz-transform: rotate(0deg);}
    to { -moz-transform: rotate(360deg);}
}

#rdiff-status-modal .alert-info {
  max-height: 200px;
  overflow: auto;
}

#rdiff-status-modal .state-progress .alert-danger,
#rdiff-status-modal .state-progress .close,
#rdiff-status-modal .state-progress .glyphicon-warning-sign,
#rdiff-status-modal .state-progress .modal-footer {
  display:none;
}

#rdiff-status-modal .state-error .alert-info,
#rdiff-status-modal .state-error .glyphicon-refresh {
  display:none;
}
