#form-container,
#progress-container,
#progress-container,
#result-container,
#error-container,
#diff-container {
  display:none;
}


#main-container[data-view=form] #form-container,
#main-container[data-view=error] #error-container,
#main-container[data-view=progress] #progress-container,
#main-container[data-view=result] #result-container,
#main-container[data-view=diff] #diff-container {
  display:block;
}


.cmp-ok,
.cmp-diff,
.cmp-missing-src,
.cmp-missing-trg {
  display:none;
}

.state-cmp-ok .cmp-ok,
.state-cmp-diff .cmp-diff,
.state-cmp-missing-trg .cmp-missing-trg,
.state-cmp-missing-src .cmp-missing-src {
  display:block;
}

tr.header-folder-path td {
  font-size: 1.3em;
  background-color: antiquewhite;
  border: none;
  border-bottom: 1px solid black;
  background-color: #f2f2f2;
}
